<!DOCTYPE html>
<html>
  <title>Yazılım hühendisi</title>
<head>
<link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

<ul>
  <li><a href="{{ url_for('anasayfa') }}">Anasayfa</a></li>
  <li><a href="#news"></a></li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Yazılım Dilleri</a>
    <div class="dropdown-content">
      <a href="{{ url_for('python') }}">Python</a>
      <a href="#">C</a>
      <a href="#">C#</a>
     
    </div>
  </li>
</ul>



</body>
</html>
